" Pugins "
set NERDTree
set surround
set ideamarks


set clipboard+=unnamed
set nu
set relativenumber

let mapleader = " "

" reload "
nmap <leader>R <Action>(IdeaVim.ReloadVimRc.reload)
" tab control "
nmap <leader>q <Action>(CloseContent)
nmap <leader>Q <Action>(ReopenClosedTab)
" nerd tree "
nmap <leader>n :NERDTree<CR>
nmap <leader>? :NERDTreeFind<CR>
" navigation "
nmap gr <Action>(FindUsages)
nmap gh <Action>(CallHierarchy)
nmap gl <Action>(ShowErrorDescription)

nmap <leader>t <Actin>(ActivateTerminalToolWindow)

map [[ <Action>(MethodUp)
map ]] <Action>(MethodDown)

" search "
nmap <leader>fF <Action>(GoToMenu)
nmap <leader>ff <Action>(GotoFile)
nmap <leader>ft <Action>(GotoTest)
nmap <leader>fc <Action>(GotoClass)
nmap <leader>fs <Action>(FileStructurePopup)
nmap <leader>fq <Action>(QuickFixes)
nmap <leader>fp <Action>(ManageRecentProjects)
nmap <leader>fa <Action>(ShowIntentionActions)
nmap <leader><leader> <Action>(Switcher)
" editing "
nmap <F2> <Action>(RenameElement)
nnoremap <C-j> :m +1<CR>
nnoremap <C-k> :m -2<CR>
vnoremap < <gv
vnoremap > >gv
nmap <leader>gc <Action>(CommentByLineComment)
nmap <leader>gC <Action>(CommentByBlockComment)
nmap <leader>p <Action>(ReformatCode)
nmap <leader>pp <Action>(OptimizeImports)
" git "
nmap <leader>gc <Action>(Git.Branches)
nmap <leader>ga <Action>(Git.Menu)
nmap <leader>gl <Action>(Git.Log)
nmap <leader>gs <Action>(Git.MainMenu.LocalChanges)
" settings control "
nmap <leader>cc <Action>(QuickChangeScheme)
nmap <leader>zz <Action>(ToggleZenMode)
" IDE controls "
nmap <leader>r <Action>(Run)
nmap <leader>d <Action>(Debug)
nmap <leader>b <Action>(ToggleLineBreakpoint)
